:root {
  --primary-color: #000000;
  --secondary-color: #57C6A6;
  --tertiary-color: #F2F2F2;
  --dark-teal: #249977;
  --light-teal: #98D4C3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  color: var(--dark-teal);
}

/* header */
header {
  padding: 10px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 20px;
}

section {
  padding: 30px;
}

/* hero style start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-position: 80%;
  padding: 80px;
  position: relative;
}

.hero h2 {
  color: var(--tertiary-color);
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.section-title {
  font-size: 30px;
  border-bottom: 2px solid var(--dark-teal);
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto 35px auto;
}

/* about section */
.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bio img {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 6px solid var(--primary-color);
  border-radius: 50%;
  object-fit: cover;
}

.bio p {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
}

/* Work examples section*/
.work {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.work a {
  font-style: normal;
  text-decoration: none;
  color: var(--tertiary-color);
}

.work-item1 {
  position: relative;
}

.work-item1 img {
  display: block;
  width: 100%; 
  height: auto;
  border: 8px solid var(--primary-color);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: var(--primary-color);
  color: var(--tertiary-color);
  width: 75%;
  padding: 20px;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.overlay-items {
  position: absolute;
  bottom: 0;
  background: var(--primary-color);
  color: var(--tertiary-color);
  width: 75%;
  padding: 12px;
}

.work-items h3 {
  font-size: 16px;
}

.work-items p {
  font-size: 12px;
}

.work-item {
  margin: 20px;
  flex: 1 1 380px;
  position: relative;
}

.work-item img {
  display: block;
  width: 100%; 
  height: auto;
  border: 6px solid var(--primary-color);
  padding: 0;
}

/* contact section */
address {
  display: flex;
  flex-wrap: wrap;
}
address a {
  color: var(--dark-teal);
  font-size: 20px;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;
  margin: 10px;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

address a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 30px;
}

/* footer */
footer {
  background: var(--secondary-color);
  width: 100%;
  padding: 10px 35px;
  display: flex;
  flex-wrap: wrap;
}

footer h2 {
  color: var(--primary-color);
  font-size: 20px;
  margin: 0;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 20px;
  }

  header nav ul li a {
    font-size: 18px;
  }

  .work-item {
    flex: 1 1 320px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  header nav ul li a {
    font-size: 18px;
  }
  .section-title {
    width: 95%;
  }

  .hero h2 {
    font-size: 16px;
  }

  .bio img {
    width: 80%;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .bio p {
    width: 100%;
  }
}